<head>
    <meta charset="UTF-8">
    <title>Stock Data</title>
    <style>
        table,
        td, th {
            border: 1px solid black;
            border-collapse: collapse;
            text-align: center;
        }
    </style>
</head>

<body>
<h2>Stocks Data for $date</h2>

<table>
    <tr>
        <th>Stock</th>
        <th>Opening price</th>
        <th>Closing price</th>
        <th>Bought At Price</th>
        <th>Bought At Quantity</th>
        <th>Profit</th>
        <th>Percentage Increase (from previous market open day)</th>
    </tr>

    #foreach ($stockData in $stocks)
    <tr>
        <td>$stockData.getName()</td>
        <td>$stockData.getOpenPrice()</td>
        <td>$stockData.getClosePrice()</td>
        <td>$stockData.getBoughtAtPrice()</td>
        <td>$stockData.getBoughtAtQuantity()</td>
        <td>$stockData.getProfit()</td>
        <td>$stockData.getPercentageIncrease()</td>
    </tr>
    #end

</table>


</body>